<div class="card small">
	<div class="card-image waves-effect waves-block waves-light">
		<img class="activator" src="">
	</div>
	<div class="card-content">
		<span class="card-title activator grey-text text-darken-4">Card Title
			<a class="btn-floating btn-large waves-effect waves-dark red right">
				<i class="material-icons">insert_comment</i>
			</a>
		</span>
		<p>
			<a href="#">This is a link</a>
		</p>
	</div>
	<div class="card-reveal">
		<span class="card-title grey-text text-darken-4">Card Title
			<i class="material-icons right">close</i>
		</span>
		<div class="card-tabs">
			<ul class="tabs tabs-fixed-width">
				<li class="tab">
					<a href="#test4">Test 1</a>
				</li>
				<li class="tab">
					<a class="active" href="#test5">Test 2</a>
				</li>
				<li class="tab">
					<a href="#test6">Test 3</a>
				</li>
			</ul>
		</div>
		<div class="card-content grey lighten-4">
			<div id="test4">Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis numquam eligendi, amet suscipit eveniet fugiat soluta necessitatibus enim doloremque cupiditate, accusantium quia consequuntur libero nulla earum. Consequatur aperiam eaque quasi. </div>
			<div id="test5">Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis numquam eligendi, amet suscipit eveniet fugiat soluta necessitatibus enim doloremque cupiditate, accusantium quia consequuntur libero nulla earum. Consequatur aperiam eaque quasi.</div>
			<div id="test6">Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis numquam eligendi, amet suscipit eveniet fugiat soluta necessitatibus enim doloremque cupiditate, accusantium quia consequuntur libero nulla earum. Consequatur aperiam eaque quasi.</div>
		</div>
	</div>
</div>