<div class="col s12 m6 l4">
	<div class="card">
			<div class="card-image">
				<img class="activator" src="img/gs2.jpg">
				<a class="btn modal-trigger btn-floating halfway-fab waves-effect waves-light red darken-3" href="#comments">
					<i class="material-icons">insert_comment</i>
				</a>
			</div>
			<div class="card-content">
				<span class="card-title">
					Beginner's Guides For 2017's Biggest Games: PUBG, Destiny 2, Zelda: Breath Of The Wild, And More
				</span>
				<p>
				</p>
				<p>Here are beginner's tips and guides for this year's biggest PS4, Xbox One, Switch, and PC games, which includes Call
					of Duty: WWII, Super Mario Odyssey, Assassin's Creed Origins, and ...</p>
				<a class="waves-effect waves-light btn black">
					<i class="material-icons left">open_in_browser</i>OPEN</a>
			</div>
		</div>
</div>