<div class="col s12 m6">
	<div class="card small">
		<div class="card-image waves-effect waves-block waves-light">
			<img class="activator" src="img/gs2.jpg">
		</div>
		<div class="card-content">
			<span class="card-title activator grey-text text-darken-4">
				<a href="http://www.google.com">Card Title</a>
				<a class="btn modal-trigger btn-floating btn-large waves-effect waves-dark red right" href="#comments">
					<i class="material-icons">insert_comment</i>
				</a>
			</span>
			<p>
				<a href="#">This is a link</a>
			</p>
		</div>
	</div>
</div>