<div class="navbar-fixed">
	<nav>
		<div class="nav-wrapper green accent-3">
			<div class="container">
				<a href="#" class="brand-logo"><img src="img/gamespot_logo.png" alt=""></a>
				<ul id="nav-mobile" class="right hide-on-med-and-down">
					<li>
						<a class="btn btn-floating appclr_black">
							<i class="material-icons">cloud</i>
						</a>
					</li>
				</ul>
			</div>
		</div>
	</nav>
</div>