<div class="navbar-fixed">
	<nav>
		<div class="nav-wrapper green accent-3">
			<a href="#" class="brand-logo">Logo</a>
			<ul id="nav-mobile" class="right hide-on-med-and-down">
				<li>
					<a class="btn btn-floating appclr_neon_green">
						<i class="material-icons">cloud</i>
					</a>
				</li>
			</ul>
		</div>
	</nav>
</div>