<div class="navbar-fixed">
	<nav>
		<div class="nav-wrapper green accent-3">
			<div class="container">
				<a href="#" class="brand-logo">
					<img src="img/gamespot_logo.png" alt="">
				</a>
				<ul id="nav-mobile" class="right">
					<li>
						<a class="btn btn-floating appclr_black tooltipped" data-position="bottom" data-delay="50" data-tooltip="Scrape latest stories">
							<i class="material-icons">cached</i>
						</a>
					</li>
				</ul>
			</div>
		</div>
	</nav>
</div>