<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<!--Let browser know website is optimized for mobile-->
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">

	<!--Import Google Icon Font-->
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<!-- Materialize CSS -->
	<link rel="stylesheet" href="css/materialize.min.css">

</head>

<body class="grey darken-4">

	 {{{body}}}

	<!--Import jQuery before materialize.js-->
	<script type="text/javascript" src="js/jquery.js"></script>
	<!-- Materialize JavaScript Library -->
	<script type="text/javascript" src="js/materialize.min.js"></script>
</body>

</html>