/* fix spacing issue for card comment icon  */
div.card div.card-content span.card-title a.waves-effect.waves-dark.red.right i {
	margin: 13px 1px;
}

.appclr_black {
	background-color:#212121 !important;
}

.appclr_neon_green {
	background-color: #b2ff59 !important;
}

nav a.brand-logo img {
	height: 50px;
	margin-top: 7px;
}

.collection .collection-item.avatar p {
	margin-top: 10px;
}